<div class="container">
    <h2>About Us:</h2>
    <div class="col-sm-12">
        <img src="images/5.jpg" alt="">
    </div>
    <div class="col-sm-12">
        
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit rem provident deleniti iste consequuntur numquam. Animi, velit quo ipsa doloremque laudantium quas nostrum ex voluptatem corrupti ipsam maiores! Ad, numquam!

        <p>     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ducimus a magni aperiam sequi beatae doloribus, accusamus porro molestias veritatis deserunt quam odio, amet voluptatem soluta dolor natus? Iure, adipisci? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus velit voluptatem laboriosam amet consequatur rem? Sint</p>
        If you want to see a new course, click <a href="/courses">the courses page</a> and explore!</p>
        <p> When you see a course you like you can <a href="/contact">contact us to join! </a> Soon you'll be cooking in your own home.</p>
    </div>
</div>
