<div class="container">
    
    <div  style="width: 100%;float: next;" >
        <div id="slider" >
            <figure>
                <img src="images/1.jpg" width="900" height="350" alt="slide1"/>
                <img src="images/2.jpg" width="900" height="350" alt="slide2"/>
                <img src="images/3.jpg" width="900" height="350" alt="slide3"/>
                <img src="images/4.jpg" width="900" height="350" alt="slide4"/>
                <img src="images/5.jpg" width="900" height="350" alt="slide5"/>                                    
            </figure>
        </div>
    </div>
    <div class="col-sm-10">
        <h2>Welcome! to Balloonatic Asylum</h2>
        <p> Please check out all the cool new courses by our innovative and creative chefs.</p>
        <p> If you want to see a new course, click <a href="/courses">the courses page</a> and explore!</p>
        <p> When you see a course you like you can <a href="/contact">contact us to join! </a> Soon you'll be cooking in your own home.</p>
    </div>
</div>
