<div class="container">
    <h1>Login: </h1>
    <div class="col-sm-6" style="border: blue; border-style: solid;padding: 20px; margin-left: 150px;">  
        <form action="/signin" method="post">
            <center>
                <table >
                    <tr>
                        <td>Enter Email ID : </td>
                        <td><input type="text" name="userID" id="userID" required/></td>
                    </tr>
                   
                    <tr>
                        <td>Password : </td>
                        <td><input type="password" name="pass" id="pass" required/></td>
                    </tr>
                    <tr>
                        <td> <input class="button" type="submit" value="submit"></td>
                        <td><a href="/"><input class="button" type="button" value="Cancel"/></a></td>
                    </tr>
                </table>
            </center>
        </form>  
         <h5>If you are new user <a href="/signup">Sign Up</a></h5>
    </div>
   
</div>
<br><br><br><br><br>
